.game-container {
	display: flex;
	flex-direction: column;
	width: 560px;
	margin: 0 auto;
	background-color: #330d4a;
	position: relative;
	height: 654px;
}

.game-info {
	background-color: #f8f8f8;
	width: 65%;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
	top: 40px;
	filter: drop-shadow(0px 3px 3px #f8f8f8);
}

.game-buttons {
	position: absolute;
	bottom: 92px;
	display: flex;
	flex-direction: column;
	left: 50%;
	transform: translateX(-50%);
	width: 65%;
}

.game-header {
	font-weight: 400;
	font-size: 25px;
	color: black;
	width: 100%;
	text-align: center;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.count-buttons-block {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.bid-buttons {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.bid-text {
	display: block;
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.slot-header {
	margin: 0;
	padding: 0;
	color: #1c1c1c;
	font-weight: 500;
	padding-bottom: 10px;
}

.playground {
	margin-bottom: 20px;
	/* padding: 50px 30px; */
	margin-top: 100px;
	font-size: 30px;
}

.playground > div {
	vertical-align: middle;
	padding-top: 40px;
	margin: 0 auto;
	width: 470px;
	border: 2px solid #1c1c1c;
	background-color: #960018;
	border-radius: 30px;
	filter: drop-shadow(5px 5px 10px #d32e22);
}

.item {
	/* background-color: #dcdcdc; */
	background-image: url(../assets/abstract-textured-backgound.jpg);
	background-size: cover;
	box-sizing: border-box;
	display: block;
	width: 120px;
	height: 110px;
	padding: 8px;
	/* padding-right: 10px; */
	border-radius: 5px;
	border-left: 2px solid #1c1c1c;
	border-right: 2px solid #1c1c1c;
}

.index-module_num__j6XH3 {
	display: block;
	padding-left: 5px;
}

.game-button {
	color: black;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	font-size: 28px;
	font-weight: 400;
	background-color: yellow;
	transform: perspective(100px) rotateX(10deg);
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: 0;
	outline: none;
	text-transform: uppercase;
	box-shadow: 0 7px 0 #cecf00;
}

.game-button:hover {
	transform: perspective(100px) rotateX(10deg);
	opacity: 0.9;
}

.game-button:active {
	transform: perspective(100px) rotateX(10deg) translateY(4px);
	transition: all 0.2s ease-in-out;
}

.game-button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.disabled:hover {
	opacity: 0.7;
	cursor: not-allowed;
}

.count-button {
	transform: rotateX(25deg) skewX(19deg);
	color: black;
	width: 115px;
	padding: 3px 10px 3px 10px;
	font-size: 22px;
	font-weight: 900;
	background-color: yellow;
	border-radius: 10px;
	border: 0;
	outline: none;
	box-shadow: 0 6px 0 #cecf00;
	gap: 10px;
}

.count-button:first-child {
	margin-bottom: 7px;
}

.count-button:hover {
	transform: rotateX(25deg) skewX(19deg);
	opacity: 0.9;
}

.count-button:active {
	transform: rotateX(25deg) skewX(19deg) translateY(4px);
	transition: all 0.2s ease-in-out;
	box-shadow: 0 3px 0 #cecf00;
}
.count-button:disabled {
	opacity: 0.6;
}

.decrease {
	margin-left: 17px;
}

.slot-container {
	height: 200px;
	border-radius: 10px;
}

.desk {
	position: absolute;
	width: 100%;
	bottom: 10px;
	margin-bottom: 50px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 232px solid #960018;
	filter: drop-shadow(5px 5px 10px #d32e22);
}

.bid-block {
	width: 80%;
	background-color: yellow;
	border-radius: 15px;
	transform: perspective(90px) rotateX(15deg);
	box-shadow: 0 4px 0 #cecf00;
}

.connector {
	height: 20px;
	width: 372px;
	position: absolute;
	top: 345px;
	left: 94px;
	background-color: grey;
	opacity: 1;
	border-radius: 5px;
	border: 2px solid #1c1c1c;
}

.roof {
	height: 20px;
	width: 372px;
	position: absolute;
	top: 135px;
	left: 94px;
	background-color: #960018;
	opacity: 1;
	border-radius: 5px;
	border-top: 2px solid #1c1c1c;
	border-left: 2px solid #1c1c1c;
	border-right: 2px solid #1c1c1c;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.bonus-amount {
	color: #f8f8f8;
	font-size: 25px;
}
