.wallet-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 160px;
	margin: 0 auto;
	background-color: #330d4a;
	/* background-image: url('./../assets/bg_small.jpg'); */
	height: 654px;
	position: relative;
}

.wallet-info {
	background-color: yellow;
	width: 70%;
	margin: 0 auto;
	height: 200px;
	border-radius: 10px;
	position: relative;
	top: 20px;
}

.buttons-wallet {
	transform: translateY(-50%);
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.button-wallet {
	color: black;
	width: 250px;
	padding: 10px;
	margin-top: 15px;
	font-size: 28px;
	font-weight: 400;
	background-color: yellow;
	border-radius: 10px;
	box-shadow: 0 7px 0 #cecf00;
	outline: none;
	border: none;
}
.button-wallet:hover {
	transform: translateY(0px);
	opacity: 0.9;
}

.button-wallet:active {
	transform: translateY(5px);
	transition: all 0.2s ease-in-out;
	box-shadow: 0 3px 0 #cecf00;
}

.wallet-header {
	font-weight: 400;
	font-size: 35px;
	color: black;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.wallet-balance {
	font-weight: 400;
	font-size: 28px;
	color: black;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}
